body
{
    background: black;
}

#canvas
{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}

#background
{
    position: absolute;
    width: 800;
    height: 600;
    transform: translate(-50%, -50%);
    border: 3px solid white;
    top: 50%;
    left: 50%;
}